name: Calculator

on:
  push:
    branches:
  pull_requests:
    branches:

jobs:
  lint-and-tests:
    runs-on: Ubuntu-latest


    steps:
    - name: checkout code
      uses: actions/checkout@v6

    - name: setup python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: run flake8
      run: flake8 calculator.py

    - name: run tests
      run: pytest test_calculator.py
